.center{
    width: 1360px;
    text-align: center;
    margin: 0;
}
.background{
    background-image: url(../img/background.png);
    height: 768px;
    background-repeat: no-repeat;
    background-position: center;
}
.header{
    text-align: left;
}
.logo{
    background-image: url(../img/logo.png);
    width: 46px;
    height: 44px;
    display: inline-block;
    margin-left: 170px;
}
.logo:hover{
    background-image: url(../img/logo-hover.png);
}
.milan_holidays{
    display: inline-block;
    margin-left: 30px;
}
.milan{
    color:  #fff;
    font-size: 29px;
    font-weight: 700;
    line-height: 21px;
}
.milan:hover{
    color: #f26522;
}
.holidays{
    color:  #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
}
.holidays:hover{
    color: #f26522;
}
.email_and_phone_block{
    display: inline-block;
    margin-right: 0;
    margin-left: 640px; 
}
.email_and_phone{
    color:  #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}
.images_block{
    margin: auto;
}
.image_and_text{
    border-style: solid;
    border-width: 2px;
    border-color:  #000000;
    box-sizing: border-box;
    box-shadow: 0px 17px 24px 0px #000000;
    width: 312px;
    height: 205px;
    display: inline-block;
    margin: 20px;
    position: relative;
}
.image{
    width: 307px;
    height: 200px;
}
.image_hover{
    position: absolute;
    width: 307px;
    height: 200px;
    top:150px;
    width: 100%;
    opacity: 0;
    height: 50px;
    background-color: #f26522;
}
.image_hover:hover{
    opacity: 1;
}
.from{
    color: #fff;
    font-size: 20px;
    margin: 0;
    padding:0;
    text-align: left;
}
.euros{
    color: #fff;
    font-size: 25px;
    margin-right: 80px;
    padding: 0;
    display: inline-block;
}
.view{
    color: #fff;
    display: inline-block;
    font-size: 25px;
}
.text{
    color:  #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
}
.copyright{
    color:  #fff;
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
}