.whole{
    margin: auto;
    width:1280px;
}
h1 {
    font-size: 80px;
    font-weight: 400;
}
h1 span {
    color: #4bcaff;
}
.nodecor{
    text-decoration: none;
}
.header_menu{
    background-color:#35444f;
    text-align: center;
}
.header_menu_item{
    display: inline-block;
    color:  #fff;
    font-size: 24px;
    font-weight: 400;
    line-height: 90px;
    text-align: center; 
    padding :0px 70px 0px 70px;  
}
.header_menu_item:hover{
    background-color: #222f3a;
}

.left_menu{
    float: left;
    width: 344px;
    height: 399px;
    margin: 15px 23.5px 0px 0px;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid #222f3a;
    border-left: 1px solid #222f3a;
    border-right: 1px solid #222f3a;
}
.left_menu_item{
    display: inline-block;
    color:#495863;
    font-size: 27px;
    font-weight: 400;
    line-height: 88.867px;
    width :342px;
    height: 81px;
    margin-left: 20px;
}
.left_menu_item:hover{
    margin: auto;
    text-align: center;
    background-color: lightgrey;
    color:  #000;
}
.img_and_text{
    float: left;
}
.img_block{
    width: 885px;
    height: 529px;
    margin: 15px 0px 0px 23.5px;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid #222f3a;
    border-left: 1px solid #222f3a;
    border-right: 1px solid #222f3a;
}
.img{
    width: 320px;
    height: 381px;
    text-align: center;
    margin: 73px 281.5px 73px 281.5px;
}
.text{
    width: 815px;
    color:  #2c2b2b;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin: auto;
}
.text_part{
    padding-bottom: 20px;
    padding-top: 20px;
}
.clear{
    clear: both;
}
.ending_menu{
    background-color:lightgray;
}
.ending_menu_item{
    display: inline-block;
    color:  #0c1927;
    font-size: 28px;
    font-weight: 400;
    line-height: 90px;
    margin: 0px 15px 0px 15px;
}
.ending_menu_item:hover{
    color:  #3181a6;
    text-decoration: underline;
}
.copyright{
    color:  #010000;
    font-size: 24px;
    font-weight: 400;
    line-height: 90px;
    margin-top: -90px;
    text-align: right;
}