*{margin: 0; padding: 0;}
    div.first_image{
    width: 1280px;
    height: 48.6%;
    background-size: 100%;
    display: inline-block;
}
div.navigation{
    text-transform: uppercase;
    color:  #16a085;
    font-size: 18px;
    font-weight: 900;
    line-height: 50px;
    text-align: center;
}
ul.navigation_menu{
    display: inline-block;
}
li.menu_item{
    display: inline-block;
    padding: 0px 20px;
}
div.background_grey{
    background-color: lightgray;
    width: 1280px;
    height:40%;
    background-size: 100%;
}
div.button{
    text-align: center;
    margin-top: 10px;
}
button.button{
    align-content: center;
    border-radius: 3px;
    background-color:  #16a085;
    width: 192px;
    height: 51px;
}
.text{
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 17px;
    margin: auto;
    width: 82.7%;
    height: 21.8%;
}
span{
    text-transform: uppercase;
}
.copyright{
    text-align: right;
    font-size: 15px;
    font-weight: 600;
}