.body{
    width: 100%;
    margin: 0;
    text-align: center;
    padding:0;
}
.background_section_1{
    background-image: url("../img/background/section-1.jpg");
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    height:600px;
    margin: 0;
}
.header{
    position: fixed;
    background-color: gray;
    height: 60px;
    width: 100%;
}
.content{
    width:1160px;
    margin-left: 20px;
    margin-right: 20px;
} 
.blue{
    color: lightblue;
}
.logo_img{
    display: inline-block;
    width: 200px;
    height: 50px;
    float: left;
    margin-left: 100px;
}
.menu{
    display: inline-block;
    margin-right: 90px;
    margin-left: 150px;
    margin-top: 10px;
}
.menu_item{
    margin-left:15px;
    display: inline-block;
    font-size: 15px;
    color:#fff;
}
.menu_item:hover{
    color:lightblue;
}
.text_on_background{
    padding-top: 150px ;
    text-align: center;
    color:#fff;
    text-align: center;
}
.text_on_background_normal{
    font-size: 25px;
}
.text_on_background_fine_bold{
    font-size: 30px; 
    font-weight: bold
}
.text_on_background_bold{
    font-size: 50px; 
    font-weight: bold
}
.text_on_background_fine_lighter{
    font-size: 30px; 
    font-weight: lighter
}
.buttons{
    text-align: center;
}
.button_on_background_one{
    background-color: lightblue;
    border-top: white;
    color: white;
    padding: 20px;
    margin-top: 30px;
    text-align: center;
}
.button_on_background_two{
    background-color: lightgreen;
    border-top: white;
    color: white;
    padding: 20px;
    margin-top: 30px;
    text-align: center;
}
.four_options{
    width: 100%;
    height: 250px;
}
.option_img{
    margin-top: 50px;
    height: 80px;
}
.option_one{
    float: left;
    height: 100%;
    width: 359px;
    margin: 0;
    padding: 0;
    background-color: lightgreen; 
    border-top: 2px solid white; 
}
.option_two{
    float: left;
    height: 100%;
    width: 358px;
    margin: 0;
    padding: 0;
    background-color: lightblue; 
    border-top: 2px solid lightgreen;
}
.service{

}
.title_and_line{
    text-align: center
}
.title{
    font-size: 45px
}
.line{
    color: lightblue;
    width: 45px;
    size: 40px;
}
.service_buttons{
    margin-left: 150px;
}
.service_button{
    float:left;
    background-color: lightblue;
    width: 190px;
    height: 45px;
    margin-left: 0px;
    padding: 0;
}
.clear{
    clear: both;
}
.service_what_first{
    opacity:1;
    position:absolute;
    margin: 0;
    height: 150px;
}
.service_what{
    opacity:0;
    position: absolute;
    margin: 0;
    height: 150px;
}
.service_img{
    float:left;
    width: 150px;
    height: 150px;
}
.service_text{
    text-align: justify;
    font-size: 25px;
}
.background_section_2{
    background-image: url("../img/background/section-2.jpg");
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    height:600px;
    margin-top: 150px;
    text-align: center;
}
.work_buttons{
    margin-left: 470px;
}
.work_button{
    background-color: beige;
    width: 100px;
    height: 50px;
    border-top: 2px solid lightblue;
    float: left;
}
.work_img_block{
    text-align: center;
    margin-left: 100px;
}
.work_img{
    width: 300px;
    height: 150px;
    float: left;
}
.img{
    width: 300px;
    height: 150px;
}
.first_twelve{
    display: block;
}
.second_twelve{
    display: none;
}
.front{
    opacity: 1;
    position: absolute;
    width: 300px;
    height: 150px;
}
.back{
    opacity: 0;
    position:absolute;
    width: 300px;
    text-align: center;
    height: 150px;
    background-color: lightblue;
}
.front:hover{
    opacity: 0;
}
.back:hover{
    opacity: 1;
}
.breaking_news{
    margin: auto;
}
.breaking_news_item{
    float: left;
    margin-left: 80px;
    width: 200px;
    height: 250px;
    background-color: lightblue;
    margin-bottom: 40px;
}
.breaking_news_img{
    margin-left: -100px;
    width: 200px;
    height: 200px;
    position: absolute;
}
.breaking_news_date{
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: lightblue;
    margin-left: 150px;
}
.breaking_news_date_text{
    font-size: 15px;
    color: white;
    margin: auto;
}
span.bold{
    font-weight: bold;
}
.breaking_news_text{
    margin-top: 200px;
    width: 200px;
    height: 50px;
}
.background_section_3{
    background-image: url("../img/background/section-3.jpg");
    background-size: 100%;
    width: 100%;
    background-repeat: no-repeat;
    height:600px;
    margin: 0;
    text-align: center;
}
.big_slider{
    height: 350px;
    text-align: center;
}
.title_two{
    color: white;
    font-size: 45px;
    padding-top: 30px;
}
.quote{
    width: 600px;
    height: 70px;
    color: white;
    margin: auto;
    font-size: 20px;
}
.person_name{
    font-size: 30px;
    font-weight: bold;
}
.person_prof{
    font-size: 25px;
}
.person_img{
    height: 100px;
    width: 100px;
    margin: auto;
}
.mini_slider{
    height: 60px;
    width: 200px;
    margin:auto;
}
.slider_item{
    height: 50px;
    width: 50px;
}
.slider_img{
    width: 50px;
    height: 50px;
}
.copyright_block{
    background-color: gray;
    height: 60px;
    font-weight: lighter;
    font-size: 15px;
    text-align: center;
    margin: 0;
}
.copyright_text{
   margin: 0;
   padding-top: 20px;
   font-size: 20px;
}
element{
    width: 50px;
}